:root {
  --main-bg-color: #ffffff;
  --circle-bg-color: #70d4d4;
  --title-font: "Bitter", serif;
  --subtext-font: "Roboto Flex", serif;
}

* {
  box-sizing: border-box;
}

body {
  margin: 25px;
  background-color: var(--main-bg-color);
}

section {
  width: 100%;
}

#navbar__container {
  z-index: 100;
  position: fixed;
  top: 20px;
  left: 0;
}

#navbar__container > ul {
  padding: 10px 15px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  gap: 50px;
  border-radius: 50px;
  list-style-type: none;
  transition: background-color 300ms ease-in, backdrop-filter 300ms ease-in;
}

.show_nav_bg {
  background-color: #f1f1f2b4;
  backdrop-filter: blur(20px) saturate(1.7);
}

#navbar__container > ul > li {
  padding: 10px 20px;
  border-radius: 50px;
  color: #1D3D6F;
  font-family: var(--subtext-font);
  font-size: 1.1em;
  cursor: pointer;
  transition: background-color 200ms ease-in;
}

#navbar__container > ul > li.nav_focus {
  background-color: #ffffff;
}

#title__container,
#skills__container,
#project__container {
  height: 100vh;
  margin-top: 10px;
  margin-bottom: 25px;
  border-radius: 20px;
  background-color: #F4F9FC;
}

#title__container {
  position: relative;
  overflow: hidden;
}

#title__text--container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
  height: 100%;
  z-index: 1;
}

#title__text--container > h1 {
  margin: 0;
  color: #1d3d6f;
  font-family: var(--title-font);
  font-weight: 300;
  font-size: 6em;
  font-style: normal;
  text-align: center;
}

#title__text--container > h1 > span {
  font-weight: 500;
}

#title__text--container > p {
  font-family: var(--title-font);
  font-size: 1.5em;
  font-weight: 300;
}

.bubbles {
  position: absolute;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  filter: blur(100px);
  transition: left 10000ms ease-in, top 10000ms ease-in;
}


#skills__container {
  position: relative;
  overflow: hidden;
}

#skills__div {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

#skills__div > h1 {
  margin: 100px;
  font-family: var(--title-font);
  font-weight: 600;
  font-size: 6rem;
  font-style: normal;
  color: #1d3d6f;
}

#skills_card__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.skills__scroll {
  position: relative;
  display: flex;
  flex-direction: row;
  /* left: calc(50%);
  transform: translateX(-50%); */
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  z-index: 1;
  height: 400px;
  transition: transform 500ms ease-in;
}

.skills__card {
  display: inline;
  position: relative;
  left: 0;
  height: 500px;
  width: 80vw;
  padding: 50px 50px;
  border-radius: 20px;
  overflow: hidden;
  transition: background-color 500ms ease-in, color 500ms ease-in;
}

.skills__card > h3 {
  margin: 0;
  font-family: var(--title-font);
  font-weight: 500;
  font-size: 3rem;
}

.skills__card > p {
  margin: 10px 0 0 0;
  font-family: var(--title-font);
  font-weight: 300;
}

.card_focus {
  background-color: #1D3D6F;
}

.card_focus > h3,
.card_focus > p {
  color: #ffffff;
}

.card_non_focus {
  background-color: #E9E8EE;
}

.card_non_focus > h3,
.card_non_focus > p {
  color: black;
}

.card_hidden {
  transition: none !important;
}

#language_list_container, .skill_list_container {
  z-index: 1;
  position: absolute;
  left: 50%;
  top: calc(50%);
  transform: translate(-50%, calc(-50% + 1em + 16px));
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.skill_list_container > ul { 
  z-index: 1;
  padding: 0;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
}

.skill-list-element, .language-list-element {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skill-icon {
  cursor: pointer;
  width: 100px;
}

.skill-icon-path {
  transition: fill 250ms ease-in;
}

.language-name, .skill-name {
  color: white;
  font-family: var(--title-font);
  font-size: 1em;
  transition: opacity 100ms ease-in;
}

#right-arrow, #left-arrow {
  z-index: 5;
  transition: opacity 100ms ease-in;
  cursor: pointer;
  opacity: 0.5;
}

#right-arrow:hover, #left-arrow:hover {
  opacity: 1;
}

#skills__arrow__container {
  z-index: 1;
  position: absolute;
  width: 100vw;
  padding: 0 75px;
  top: 50%;
  transform: translate(-50%, -50%);
  left: calc(50%);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#project__container {
  top: 25px;
  position: sticky;
}

#project__div {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 100px;
}

#project__div > h1 {
  margin: 0;
  font-family: var(--title-font);
  font-weight: 600;
  font-size: 6rem;
  font-style: normal;
  color: #1d3d6f;
}

#project__scroll {
  display: flex;
  flex-direction: column;
  margin-bottom: 71px;
  height: 2600px;
}

.project__card {
  height: 750px;
  width: 700px;
  padding: 40px 0;
  border-radius: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 30px;
}

.project__card > p,
.project__card > h3 {
  margin: 0;
}

.project__card > h3 {
  font-size: 3.3rem;
  font-family: var(--title-font);
}

.project__card > p {
  font-size: 1.1em;
  font-family: var(--subtext-font);
  font-weight: 400;
}

.project__card > a {
  text-align: center;
}

.project__card > a > img {
  border: #ffffff9f 2px solid;
  width: 60%;
  margin: 10px 0;
  border-radius: 20px;
}

.project__card > button {
  margin-top: 10px;
  padding: 10px 35px;
  border: #ffffffd8 2px solid;
  background-color: #ffffff00;
  border-radius: 10px;
  color: #fff;
  font-family: var(--subtext-font);
  font-weight: 300;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 200ms ease-in, color 200ms ease-in;
}

.project__card > button:hover {
  background-color: #ffffff59 ;
  font-weight: 300;
}

#project__card--description {
  width: 80%;
  text-align: center;
}

#snowscraper__card {
  background-color: #b6cae0;
  color: #ffffff;
}

#snowscraper__card > p,
#snowscraper__card > h3 {
  color: #fff;
}

#snowscraper__card > button:hover {
  color: #0000009a;
}

#artificialgains__card {
  background-color: #9799A6;
}

#artificialgains__card > p,
#artificialgains__card > h3 {
  color: #fff;
}

#artificialgains__card > button:hover {
  color: #ffffff;
}

#aethersjournal__card {
  background-color: #fffef9;
}

#aethersjournal__card > p,
#aethersjournal__card > h3 {
  color: #000;
}

#aethersjournal__card > button {
  border: #00000062 2px solid;
  color: #000;
}

#aethersjournal__card > button:hover {
  background-color: #000000a1;
  color: #ffffff;
}

#bcitraconnect__card {
  background-color: #1d3d6f;
}

#bcitraconnect__card > p,
#bcitraconnect__card > h3 {
  color: #ffffff;
}

#bcitraconnect__card > button:hover {
  color: #ffffff;
}

.project_fs_container {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  padding: 50px 75px;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
  border-radius: 20px;
  transition: opacity 200ms ease-in;
}

#project_snowscraper_fs {
  background-color: #B6CAE0;
}

#project_artificialgains_fs {
  background-color: #9799A6;
}

#project_aethersjournal_fs {
  background-color: #FFFEF9;
}

#project_bcitraconnect_fs {
  background-color: #1D3D6F;
}

.fs_card_close_icon {
  position: absolute;
  z-index: 2;
  top: 25px;
  right: 25px;
  height: 50px;
  cursor: pointer;
}

.fs_inner_container {
  position: relative;
  display: flex;
  align-items: center;
  width: 75vw;
  height: 100%;
}

.fs_header_container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.fs_details_title {
  margin-bottom: 30px;
}

.fs_details_title > h1 {
  margin: 0;
  color: #1D3D6F;
  font-family: var(--title-font);
  font-weight: 600;
  font-size: 3.5em;
}

.fs_details_title > p {
  position: relative;
  margin: 0;
  color: #1D3D6F;
  font-family: var(--subtext-font);
  font-weight: 400;
  font-size: 1.3em;
}

.fs_details_title > p::after {
  position: absolute;
  content: "";
  left: 2px;
  top: 35px;
  width: 100px;
  height: 3px;
  background-color: #1D3D6F;
}

.fs_details_links > ul {
  display: flex;
  gap: 10px;
  padding: 0;
  flex-direction: row;
  list-style-type: none;
}

.fs_details_links > ul > li {
  width: 40px;
}

.fs_header_icons {
  fill: #c0c2c5;
  transition: fill 100ms ease-in;
}

.fs_header_icons:hover  {
  fill: #1D3D6F;
  width: 40px;
}

.fs_card_screenshot {
  position: absolute;
  z-index: 1;
  top: 50px;
  left: -10px;
  height: 100%;
  width: 30%;
}

.fs_card_screenshot > img {
  width: 450px;
  rotate: -2deg;
  border-radius: 20px;
  box-shadow: #00000025 0px 10px 10px;
}

.fs_card_details {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 60px 60px 60px 490px;
  background-color: #fff;
  border-radius: 20px;
  max-height: 75%;
  width: fit-content;
  box-shadow: #00000025 0px 10px 10px;
}

.fs_details_detail {
  height: 100%;
  overflow: auto;
}

.fs_details_tech > ul {
  padding: 0;
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.fs_details_tech > ul > li {
  width: 50px;
}

.fs_details_detail > p {
  color: #000;
  font-family: var(--subtext-font);
  font-weight: 300;
  font-size: 0.9em;
}

.fs_details_detail > p > span {
  font-weight: bold;
}

#project_scroll__container {
  min-height: 100px;
  margin-top: var(--project-stack-height);
}

#footer_contact {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50vh;
  width: 100%;
}

.contact_header > h1 {
  text-align: center;
  font-family: var(--title-font);
  font-size: 4em;
  font-weight: 500;
  color: #1D3D6F;;
}

.contact_items > ul {
  z-index: 1;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.contact_icons {
  fill: #000;
  width: 35px;
  height: 35px;
}

#footer_contact > p {
  position: absolute;
  bottom: 0px;
  font-family: var(--title-font);
}