:root {
  --main-bg-color: #f1f1f2;
  --circle-bg-color: #70d4d4;
}

* {
  box-sizing: border-box;
}

body {
  margin: 25px;
  background-color: var(--main-bg-color);
}

main {
  margin-bottom: 50px;
}

section {
  width: 100%;
}

#navbar__container {
  position: relative;
}

#navbar__logo {
  height: 50px;
  width: 120px;
  background-color: #ffffff;
  border: none;
  border-radius: 10px;
}

#navbar__hamburger {
  margin-left: 5px;
  height: 50px;
  width: 50px;
  background-color: #c9c9c9;
  border: none;
  border-radius: 10px;
}

#title__container {
  position: relative;
  height: calc(100vh - 100px);
  overflow: hidden;
}

.bubbles {
  position: absolute;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  filter: blur(100px);
  transition: left 10000ms ease-in, top 10000ms ease-in;
}

#skills__container,
#project__container {
  height: 100vh;
}

#title__container,
#skills__container,
#project__container {
  margin-top: 10px;
  margin-bottom: 25px;
  border-radius: 30px;
  background-color: #ffffff;
}

#title__text--container {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 150px 0 0 120px;
}

#title__text--container > h1 {
  margin: 0;
  font-family: "Bitter", serif;
  font-weight: 300;
  font-size: 4rem;
  font-style: normal;
  color: #1d3d6f;
}

#title__text--container > h1 > span {
  font-weight: 500;
}

#title__text--container > p {
  font-family: "Bitter", serif;
  font-size: 1.6rem;
  font-weight: 300;
}

#skills__container {
  position: relative;
  overflow: hidden;
}

#skills__div {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

#skills__div > h1 {
  margin: 100px;
  font-family: "Bitter", serif;
  font-weight: 600;
  font-size: 6rem;
  font-style: normal;
  color: #1d3d6f;
}

#skills__scroll {
  z-index: 1;
  position: absolute;
  display: flex;
  width: 7500px;
  height: 400px;
  flex-direction: row;
  left: calc(50%);
  transform: translateX(-50%);
  align-items: center;
  justify-content: space-between;
}

.skills__card {
  position: absolute;
  left: 0;
  height: 500px;
  width: 1500px;
  padding: 50px 50px;
  border-radius: 20px;
  transition: transform 500ms ease-in, background-color 500ms ease-in, color 500ms ease-in;
}

.skills__card > h3 {
  margin: 0;
  font-family: "Bitter", serif;
  font-weight: 500;
  font-size: 3rem;
}

.skills__card > p {
  margin: 10px 0 0 0;
  font-family: "Bitter", serif;
  font-weight: 300;
}

.card_focus {
  background-color: #9799A6;
}

.card_focus > h3,
.card_focus > p {
  color: #ffffff;
}

.card_non_focus {
  background-color: #E9E8EE;
}

.card_non_focus > h3,
.card_non_focus > p {
  color: black;
}

.card_hidden {
  transition: none !important;
}

#language_list_container, .skill_list_container {
  z-index: 1;
  position: absolute;
  left: 50%;
  top: calc(50%);
  transform: translate(-50%, calc(-50% + 1em + 16px));
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.skill_list_container > ul { 
  z-index: 1;
  padding: 0;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
}

.skill-list-element, .language-list-element {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skill-icon {
  cursor: pointer;
  font-size: 6em;
  width: 100px;
  color: white;
}

.skill-icon-path {
  transition: fill 100ms ease-in;
}

.language-name, .skill-name {
  color: white;
  font-family: "Bitter", serif;
  font-size: 1em;
  transition: opacity 100ms ease-in;
}

#right-arrow, #left-arrow {
  transition: opacity 100ms ease-in;
  cursor: pointer;
  opacity: 0.5;
}

#right-arrow:hover, #left-arrow:hover {
  opacity: 1;
}

#skills__arrow__container {
  z-index: 0;
  position: absolute;
  width: 100vw;
  padding: 0 75px;
  top: 50%;
  transform: translate(-50%, -50%);
  left: calc(50%);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#project__container {
  top: 25px;
  position: sticky;
  background-color: #e9e8ee;
}

#project__div {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 100px;
}

#project__div > h1 {
  margin: 0;
  font-family: "Bitter", serif;
  font-weight: 600;
  font-size: 6rem;
  font-style: normal;
  color: #1d3d6f;
}

#project__scroll {
  display: flex;
  flex-direction: column;
  margin-bottom: 71px;
  height: 2600px;
}

.project__card {
  min-height: 650px;
  width: 700px;
  padding: 75px 0;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.project__card > p,
.project__card > h3 {
  font-size: 1rem;
  font-family: "Bitter", serif;
  margin: 0;
}

.project__card > h3 {
  font-size: 2.3rem;
}

.project__card > img {
  width: 50%;
  margin: 10px 0;
  border-radius: 20px;
}

#project__card--description {
  width: 80%;
  text-align: center;
}

#snowscraper__card {
  background-color: #b6cae0;
  color: #ffffff;
}

#snowscraper__card2 {
  background-color: #00ff37;
}

#snowscraper__card3 {
  background-color: #0044ff;
}

#snowscraper__card4 {
  background-color: #e5ff00;
}

#project_scroll__container {
  min-height: 100px;
  margin-top: var(--project-stack-height);
}
